<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seven749.rainbowbihu">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:persistent="true"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.AboutMeActivity"></activity>
        <activity android:name=".view.QuestionOpenedActivity" />
        <activity android:name=".view.AddQuestionActivity" />
        <activity android:name=".view.HeadPortrait" />
        <activity android:name=".view.PasswordActivity" />
        <activity android:name=".view.RegisterActivity" />
        <activity
            android:name=".view.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.RealTimeYQActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>